body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.start, .end {
    display: flex;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: space-between;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
}

.main {
    background-color: #1F2937;
    color: white;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    width: 200px;
}

.text-top {
    color: white;
    width: 260px;
    font-size: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: start;
}

.logo {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    margin: 5px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

.sign-up {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 80px;
}

.image-placeholder {
  background: gray;
  width: 250px;
  height: 100px;
  display: flex;
  margin-left: 100px;
}

.text-box {
    font-size: 10px;
    color: #E5E7EB;
    text-align: center;
    align-self: center;
    padding-left: 50px;
}

.start-top, .end-top {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.content {
    display: flex;
    gap: 20px;
}

.box {
  background: white;
  border: 3px solid #3882F6;
  border-radius: 13px;
  width: 80px;
  height: 80px;
  display: flex;
}

.middle-top {
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    padding-left: 100px;
    padding-bottom: 50px;
}

.middle-bottom {
    display: flex;
    justify-content: center;
    background: lightgray;
    width: 200px;
}

.footer {
    height: 72px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}